* {
  margin: 0px;
  padding: 0px;
}
html {
  border: 10px solid #F7F7F6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 98%;
}


body {
	color: #333;
    font-size: 15px;
    font-family: Georgia,"Times New Roman",times,serif;
    line-height: 28px;
    background: #fff;
	max-width: 1400px;
	min-height: 100%;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc;

}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}

a:hover {
color: #22b573;
}

img {
  outline: 0;
  border: 0;
}

h1,h2,h3,h4,h5,h6 { 
	font-weight:normal;
	clear:both;
	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 21px;
}
h3 {
  font-size: 15px;
  line-height: 22.5px;
  margin-bottom: 21px;
}
h4 {
}
p {
  margin-bottom: 20px;
}

p:last-child {margin-bottom: 0;}

section.sidebar {
	padding: 4%; 
	width:20%; 
	float:left;
}


header {
}

header a#ident {
	border: none;
	display: block;
	margin: 0 0 10px;
}

header h1 {
	font-size: 15px;
	line-height: 28px;
	margin: 0 0 10px 0;
	font-weight: 600;
}

header h2 {
	font-size: 12px;
	font-style: italic;
	color: #8f8f8f;
	margin: 0 0 10px 0;
}


nav {
  overflow: hidden;
 	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
 	font-weight: bold;
}

nav ul, section.connect ul{
	margin: 0;
	list-style: none;
}

nav li a, section.connect li a {
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
	list-style: none;
	border: none;
	color: #8f8f8f;
}

nav li a:hover, section.connect li a:hover{
	color: #22b573; 
	border-bottom: 1px solid #ccc;
}


nav.submenu {
  border-top: none;
  margin-bottom: 20px;
}
nav.submenu a {
  font-weight: normal;
}


section.connect {

 	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	color: #8f8f8f;
	margin: 20px 0 0 0;
}

section.connect h2 {
	font-size: 12px;
	line-height: 24px;
	margin: 0 0 0 0;
	font-weight: bold;
}

section.connect ul {
}


section.content {
  	margin-top: 40px;
 	width: 64%; 
	margin: 4%;
	float: left; 
}

article {
	padding: 0 8% 8%;
	margin-bottom: 8%;
    border-bottom: 5px solid #F7F7F6;
}


article:last-child {
	border: none;
	margin-bottom: 0;
}

article h1 {
}

article h1 a {
	border: none;
}

article time {
	font-size: 14px;
	line-height: 21px;
	padding: 0 0 5px 0;
	color: #aaa;
	border: none;
	display: block;
}

article img {
	max-width: 100%;
	height: auto;
}

blockquote {
	border-left: 5px solid #22b573;
	padding: 0 0 0 15px;
	margin: 0 0 20px 0;
	}
	
blockquote p:last-child {margin: 0;}

iframe {
	border: none;
}

/* Pagination
--------------- */

.pagination {
	float: left;
	width: 100%;

}

.pagination a {
	border: none; color: #ccc;
}


.pagination a:hover {
	color: #333;
}

.prev {
	float: left;
}

.next {
	float: right;
}


footer {
	padding: 0 4% 2%;
	color: #bbb;
	font-size: 12px;
	clear:both;
	bottom: 0;
	position: relative;
}
footer a {
	border: none;
	color: #aaa;
}


.left { 
	float: left;
}

.right {
	float: right;
}
.resume {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.resume ul {
	clear: both;
	padding: 30px 0 0;
	list-style: none;
}
.resume li {
	border-bottom: 1px solid #eee;
	padding: 2px 0;
}

.resume h2 {
	font-size: 14px;
	display: block;
	border-top: 0px #111 solid;
	padding: 10px 0 20px 0;
	text-transform: uppercase;
	
}

.resume h3 {
	font-weight: 700;
	font-size: 18px;
	line-height:1.5em;
	margin: 0;
	
}

.resume h4 {
font-size:14px;
line-height:1.5em;
font-style: italic;
margin: 0;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

span.location, span.date {
	font-weight: normal;
	line-height: 1.5em;
	font-size: 13px;
	float: right;
	color: #aaaaaa;
	font-style: normal;
	text-align: right;
	display: inline-block;
}

.section {
	border-top: 0px #eee solid;
	margin: 0 0 40px 0;
}

.employer {
	border-left: 4px #eee solid;
	padding: 0 0 0 30px;
	margin: 0 0 30px 0;
}

.school {
	border-left: 4px #eee solid;
	padding: 0 0 0 30px;
	margin: 0 0 30px 0;

}

/* Responsive. It's what the cool kids are doing.
---------------------------------------------------- */

@media screen and (max-width:1000px) { 
	section.sidebar {width: 92%; text-align: center;}
	nav {display: inline-block;}
	nav ul li {float: left; padding-right: 10px;}
	section.content {float: left; width: 92%;}
}

@media screen and (max-width:500px) { 
html {
	  border: 5px solid #F7F7F6;
}
body, input, textarea {
    font-size: 14px;
    line-height: 26px;
}
	,resume h4 {margin: 0 0 10px 0;}
	.resume .right {float: left;}
	section.sidebar {width: 92%; text-align: center;}
	nav {display: inline-block;}
	nav ul li {float: left; padding-right: 10px; display: inline-block;}
	section.content {float: left; width: 92%;}
	footer {position: relative}

}